.nav__link,
.nav-group__label {
  font-size: 16px;
  line-height: 27px;
}
 
.nav-group__toggle {
  align-items: center;
}
 
// Collection Cards
.card {
  min-height: 100px;
}
 
.card__title {
  font-size: 16px;
}